body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #FFF;
    background-color: #222;
    margin:0;
}
a {
    color:#e73527;
    text-decoration: none;
}
header h1,
header img,
.cbHolder p{
    float:left;
}
input[type="checkbox"] {
    visibility: hidden;
}
#filename,
.cbHolder p {
    line-height: 12px;
    font-size: 16px;
    margin-left: 10px;
}
#dialogue,
.cbHolder {
    clear: both;
}
#prev_builds,
#download {
    display:none;
}

#wrapper {
    width:960px;
    margin:0 auto;
}
#script_data {
    overflow: auto;
}
header {
    overflow: auto;
    margin-bottom: 30px;
}
header h1 {
    margin: 20px;
}
.left {
    float:left;
}
/* PREVIOUS BUILDS ----------------------------------*/
#prev_builds {
    width: 200px;
    position: fixed;
    top:60px;
    border:1px solid #333;
    right:-20px;
    padding:10px;
   -webkit-box-shadow: 0px 3px 3px 0px black;
}
#prev_builds h3 {
    margin: 0 0 10px;
}

#content {

}

#prev_builds a {
    margin-left:10px;
}
#prev_builds p {
    display:inline;
}
#handle {
    position: relative;
    width:10px;
}

#handle p {

}

/* FORM ELEMENTS ----------------------------------*/
/* CHECKBOXES */
.squaredOne {
    float:left;
    width: 28px;
    height: 28px;
    background: #22262f;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    margin: 5px;
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    position: relative;
}

.squaredOne label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 4px;
    top: 4px;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #00bf00;

    background: -webkit-linear-gradient(top, #671811 0%, #e73527 100%);
    background: -moz-linear-gradient(top, #671811 0%, #e73527 100%);
    background: -o-linear-gradient(top, #671811 0%, #e73527 100%);
    background: -ms-linear-gradient(top, #671811 0%, #e73527 100%);
    background: linear-gradient(top, #671811 0%, #e73527 100%);

    top: 2px;
    left: 2px;

    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/* BUTTONS */
.rounded-button {
    border:none;
    color:#2c2c2c;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    font: bold 14px/100% Arial, Helvetica, sans-serif;
    padding: 0.5em;
    text-shadow: 0 1px 1px rgba(254, 254, 254, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc03', endColorstr='#ff9f02');
    background: -webkit-gradient(linear, left top, left bottom, from(#E93524), to(#6F1F18));
    background: -moz-linear-gradient(top, #E93524, #6F1F18);
}